/* You can add global styles to this file, and also import other style files */

/* body{
    display: flex;
    height: 180vh;
    justify-content: center;
    align-items: center;
    padding: 5%;
    background-color: rgb(250, 213, 228);
} */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

