
body{
    display: flex;
    height: 180vh;
    justify-content: center;
    align-items: center;
    padding: 5%;
    background-color: rgb(220, 184, 197);
}

.container {
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 2%;
}

.container .card {
    background-color:lightblue;
    width: 70%;
    padding: 1%;
    margin: 4%;
    margin: auto;
    margin-top: 0%;
}

.container form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 0 18px 0;
}

form .form-group {
    margin-bottom: 20px;
    width: calc(100% / 2 - 80px);
}

form mat-label {
    font-weight: 410;
}

form .form-group mat-form-field {
    margin: 8px;
    width: 210%;
    padding: 3;
}



.profile-pic-div {
    height: 50%; 
    width: 30%;
    border-radius: 60%;
} 

#photo {
    height: 60%;
    width: 130%;
}

#file {
    display: none;
}

#uploadBtn {
    height: 40px;
    width: 30%;  
}  





















form .form-group{
    margin-bottom: 15px;
    width: calc(100% / 2 - 80px);
}